<div class="tabbable form-builder-tab">
    <span><button id='saveForm' type='button' class='btn btn-primary btn-sm save-form' style="float:right;">Save Form</button></span>
    <span><button id='exportForm' type='button' class='btn btn-primary btn-sm export-form' style="float:right;margin-right:10px;">Export Form</button></span>
    <ul class="nav nav-tabs" id="designformtabs">
        <!-- Form and Preview Tab nav -->
    </ul>
    <div id="build">
        <form id="target" class="form-horizontal">
            <div class="tab-content">
                <!-- Design/Preview Tabs go here -->
            </div>
        </form>
    </div>
</div>
