
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FormRuntimeLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div id="build" class="span12">
            @using (Html.BeginForm("Edit", "FormRuntime", FormMethod.Post, new { id = "target", @class = "form-horizontal" })) {
            }
        </div>
    </div>
</div>

