
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FormRuntimeLayout.cshtml";
}

@using (Html.BeginForm("Run", "FormRuntime", FormMethod.Post)) {
    <div id="renderForm" class="span6">
    </div>
}

