@{
    ViewBag.Title = "Contact";
}

<address>
    Jatin Kulkarni<br />
    Mumbai<br />
    <abbr title="Phone">Phone:</abbr>
    9869084718
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jatin.kulkarni@yahoo.com">jatin.kulkarni@yahoo.com</a><br />
</address>