@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Form Builder</h1>
    <p class="lead">Form Builder with backend support implemented in .Net</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Home Page</h1>
    </div>
</div>