@import 'base';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Custom Styles*/
.ajax-loader {
    background: rgba(0,0,0,.5) url('/Content/Images/ajax-loader.gif') no-repeat 50% 50%;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    display:none;
}

.backToListLink {
    font-size:16px;font-weight:normal;
}

.zero-radius {
    @include border-radius(0px);
}

/*Default Modal Form Slide from top*/
.fixed-popup-button {
    position: fixed;
    bottom:0;
    right:0;
}

/*form popup*/

#formModal{
    background-color:$modal-Form-bg-color;
    min-width:500px;
}

.pop-wrapper {
    max-width: 700px;
    min-width:500px;
    overflow:hidden;
    z-index:9999;

    #target fieldset {
       border:none;
    }
}


/*bottom form popup*/

.bottom-pop {
    background-color:$modal-Form-bg-color;
    position:fixed;
    right: 0;
    bottom: 0;

    .bottom-header {
        position:absolute;
        right:0;top:0;
        min-width: 500px;
        margin-top: -30px;
        text-align:right;
                
        a {
            min-width:150px;
        }
    }

    #build {
        padding:15px;
        border: 1px solid #4885B7; 
        clear:both; 
        max-height:500px;
        min-width:500px;
        overflow-y: auto;
        display:none;
    }

}

/*Side form popup*/

.side-pop {
    background-color:$modal-Form-bg-color;
    position:fixed;
    left: 0;
    top: 50px;
    z-index:9999;

    .side-header{
        position:absolute;
        right:0;top:0;
        width: 30px;
        margin-right:-30px;
        min-height:300px;
    }

    .rotate270 {
        @include transform(rotate(270deg));

    }
    a.rotate270 {
        min-width:150px;
        height:25px;
        margin-left:-70px;
        margin-top:70px;
    }

    #build {
        border: 1px solid #4885B7; 
        clear:both; 
        max-height:500px;
        width:500px;
        overflow-y: auto;
        padding:15px;
        display:none;
    }
}

