<div id="ufb-container">
    <div id="ufb-main" class="ufb-transitioned">
        <div id="ufb-heading">
            <a href="#" onclick="ufb.toggleFeedback()">
                <img id="ufb-icon" src="/assets/img/runtime/inline-feedback-plus.png" />
            </a>
        </div>
        <div id="ufb-body" >
            <form action="/FormBuilder/Run/<%= guid %>" method="post" id="<%= guid %>" class="form-horizontal">
                <div id="renderFormInner"></div>
            </form>
        </div>
    </div>
</div>
