<div id="ufb-container">
    <div id="ufb-main" class="ufb-transitioned">
        <div id="ufb-heading">
            <a href="#" onclick="ufb.toggleFeedback()">
                <img id="ufb-icon" src="/assets/img/runtime/inline-feedback-plus.png" />
            </a>
        </div>
        <div id="ufb-body" >
            <!--<div id="ufb-copy">
                <div id="ufb-copy-lead">
                    <%= formName %>
                </div>
                <div id="ufb-copy-body" class="ufb-copy-body">
                    How's your experience so far?
                </div>
            </div>-->

            <div id="renderFormInner" >
            </div>
        </div>
        <!--<div id="ufb-body-thanks-container">
            <div id="ufb-body-thanks-main">
                <div id="ufb-thanks-copy-lead">
                    Feedback
                </div>
                <div id="ufb-thanks-copy-body" class="ufb-copy-body">
                    Thanks!
                </div>
            </div>
        </div>-->
    </div>
</div>
