<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FormRuntimeLayout</title>
    @Styles.Render("~/assets/runtime-css")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3>Form Run <span class="backToListLink"> [ @Html.ActionLink("Back to List", "List", "FormBuilder") ]</span></h3>
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="/assets/js/lib/require.js" data-main="/assets/js/main.js" data-start="app/runtime-app" data-form-id="@Model.FormId"></script>

</body>
</html>
