/*Default Modal Styles*/
.fixed-popup-button {
    position: fixed;
    bottom:0;
    right:0;
}

/*Modal Bottom Slide*/
/*
 Colors
*/
/*
 Some styles may seem oddly specific, or unnecessary. That would be due to these
 styles starting life as an automatic bootstrap dervied styles clone.
*/
.ufb-transitioned {
  -webkit-transition: height 400ms ease;
  transition: height 400ms ease;
}
#ufb-container {
  position: fixed;
  width: 291px;
  bottom: 0;
  right: 0;
}
#ufb-main {
  height: 33px;
}
#ufb-layout {
  height: 33px;
}
#ufb-heading {
  background-image: url('../img/runtime/inline-feedback-header.png');
  width: 291px;
  height: 33px;
  text-align: right;
}
#ufb-icon {
  margin-right: 7px;
  margin-top: 7px;
}
#ufb-body {
  background-image: url('../img/runtime/inline-feedback-bg.png');
  color: #dddddd;
  padding: 4px 4px 15px 20px;
  height: 300px;
  overflow:auto;
}
#ufb-copy {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}
#ufb-body .controls, 
#ufb-body .help-block,
#ufb-body legend {
  color: #dddddd;
}
#ufb-copy-lead {
  font-weight: 700;
  margin-bottom: 2px;
}
#ufb-copy-body {
  margin-bottom: 8px;
}
.ufb-copy-body {
  margin-bottom: 8px;
}
#ufb-submit-container {
  text-align: right;
  padding-right: 15px;
}

#ufb-body #renderFormInner {
    padding-bottom:20px;
}

/*End Bottom Slide*/

#target-runtime div.default {
    width:650px;
    border: 1px solid #ccc;
}